* {
    padding: 0;
    margin: 0;
}

#main {
    width: 80%;
    margin: 30px auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #313131;
    text-align: center;
}

.hero {
    margin-top: 25px;
}

h1 {
    font-size: 2.5em;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-caption {
    margin-top: 10px;
}

#tribute-info {
    margin: 30px auto;
}

li {
    margin-top: 10px;
    text-align: start
}